body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container { 
    max-width: 1158px;
    padding-left: 15px; 
    padding-right: 15px; 
    margin: 0 auto;
    }
.header {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-container {
    display: flex; 
}

.header-nav {
    display: flex;
    align-items: center;
}
.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    display: flex;
    align-items: center;
}


.header-logo .accent{
    color: #2e2f42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-menu {
}

.header-menu-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-menu-item:hover,
.header-menu-item:focus {
    color: #404bbf;
}
.contacts {
    font-style: normal;
    
}
.contacts-list {
    display: flex;
    gap: 40px;
    margin-left: auto;

}
.contacts-list-item {
}
.contacts-link {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}
.contacts-link:hover,
.contacts-link:focus {
color: #404bbf;
}
/* -------------------header end ---------------------*/

.solutions {
    padding-bottom: 180px;
}

.main-wrap {
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 292px;
    margin: 0 auto;
}

.solutions-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
max-width: 496px;
margin-bottom: 48px;
margin: 0 auto;
}
.solutions-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;
background-color: #4D5AE5;
display: block;
margin: 0 auto;
border: none;
border-radius: 4px;
width: 169px;
height: 56px;
}
.solutions-btn:hover,
.solutions-btn:focus {
    background-color: #404BBF;
}

/* -------------solutions end-------------- */

.features {
    padding-bottom: 120px;
}
.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
      }
}
.features-list {
    padding-left: 156px;
    padding-right: 156px;
    display: flex;
    width: calc((100% - 24 * 3) / 4)
}
.features-list-item {
}
.features-list-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.features-list-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/* =====================features end========== */

.team {
    background: #f4f4fd;
    padding-bottom: 120px;
    padding-top: 120px;
    display: flex;
    flex-direction: row;
}
.team-title {
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize; 
margin-bottom: 72px;
}
.team-list {
}
.team-list-item {
    background-color: #FFFFFF;
}
.team-item-image {
}
.team-item-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.team-item-text {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

/* ================team end =============*/

.portfolio {
    padding-bottom: 120px;
    padding-top: 120px;
    display: flex;
}
.portfolio-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;

}
.portfolio-list {
}
.portfolio-list-item {
}
.portfolio-item-image {
}
.portfolio-item-title {
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.portfolio-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*================= portfolio end ================*/
.footer {
    background: #2e2f42;
    height: 312px;
}

.footer-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-top: 100px;
margin-bottom: 16px;
margin-right: 156px;
align-items: center;
}

.footer-logo .accent {
    color: #f4f4fd;
}
.footer-text {
    font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}